@model TalkingViewModel

@{
    ViewData["Title"] = $"聊天室 - {Model.RoomName} ({Model.UserAccount})";
}

<h1>聊天室 - @Model.RoomName</h1>
<div class="container">
    @{
        foreach (var message in Model.Messages)
        {
            string cssClass = message.Account == Model.UserAccount 
                ? "bg-info rounded text-end m-1" : "bg-light rounded text-start m-1" ;
            <div class="row justify-content-center">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="@cssClass">
                        @if (message.Account != Model.UserAccount)
                        {
                            <span>@message.Account:</span>  
                        }
                        <span>@message.Message</span>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        }
    }
</div>
<div class="fixed-bottom m-2" id="inputContainer">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <form asp-action="Talk">
                <div class="row">
                    <div class="col-sm-10">
                        <input name="userAccount" type="hidden" value="@Model.UserAccount" readonly/>
                        <input name="roomName" type="hidden" value="@Model.RoomName" readonly/>
                        <input name="message" type="text" class="form-control" id="message"/>
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-primary" value="發送" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() { 
            // location.reload()
            document.getElementById("inputContainer").scrollIntoView();
        })
    </script>
}
@*@section Scripts {
    <script>
        const account = $("#userAccount").val();
        const room = $("#roomName").val();
        function sendMessage() {
            const  msg = $("#newMessage").val();
            if (!account || !room || !msg) {
                alert('請輸入內容')
                retrun;
            }

            $.ajax({
                url: '/Talk/SendMessage',
                method: 'POST', // jQueyr 1.9 版以前只能用 type: 'GET'，1.9以後兩個都可以
                data: {
                    roomName: room,
                    userAccount: account,
                    message: msg,
                },
                success: function (resp) {
                    // console.log(JSON.stringify(resp))
                    location.reload()
                },
                error: function(err) {
                    alert(JSON.stringify(err))
                }
            }).then(function () {
                $("#select-1").on('change', function () {
                    // 禮拜四上課的時候 val 後面忘記加小括號
                    // 所以 alert 出來的是一個 function 定義但沒有執行 function
                    // 加上 小括號之後就能取出值了
                    // $(this) 代表叫 jQuery 幫我們取 "觸發這個 event" 的元素
                    // 也就是被選中的 option
                    alert($(this).val()); 
                });
            });
        }
    </script>
}*@
