@model TalkingViewModel

@{
    ViewData["Title"] = $"聊天室 - {Model.RoomName} ({Model.UserAccount})";
}

<h1>聊天室 - @Model.RoomName</h1>
<div class="container">
    @{
        foreach (var message in Model.Messages)
        {
            string cssClass = message.Account == Model.UserAccount 
                ? "bg-info rounded text-end m-1" : "bg-light rounded text-start m-1" ;
            <div class="row justify-content-center">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="@cssClass">
                        @if (message.Account != Model.UserAccount)
                        {
                            <span>@message.Account:</span>  
                        }
                        <span>@message.Message</span>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        }
    }
</div>
<div class="fixed-bottom m-2" id="inputContainer">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            @*<form asp-action="Talk">*@
                <div class="row">
                    <div class="col-sm-10">
                        <input id="userAccount" type="hidden" value="@Model.UserAccount" readonly />
                        <input id="roomName" type="hidden" value="@Model.RoomName" readonly />
                        <input id="message" type="text" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" onclick="sendMessage()">發送</button>
                    </div>
                </div>
            @*</form>*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const account = $("#userAccount").val();
        const room = $("#roomName").val();
        function sendMessage() {
            const msg = $("#message").val();
            if (!msg) {
                alert('請輸入內容')
                return;
            }

            $.ajax({
                url: window.location.pathname,
                method: 'POST', // jQueyr 1.9 版以前只能用 type: 'GET'，1.9以後兩個都可以
                data: {
                    roomName: room,
                    userAccount: account,
                    message: msg,
                },
                success: function (resp) {
                    // console.log(JSON.stringify(resp))
                    location.reload()
                },
                error: function(err) {
                    alert(JSON.stringify(err))
                }
            }).then(function () {
                
            });
        }
    </script>
}
