@model LoveGame

<h1>配對</h1>
<br />

<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="@Href($"~/images/{@Model.Account}.jpg")" alt="profile image">
      <div class="card-body">
        <h4 class="card-title">@Model.Account</h4>
        <p class="card-text">@Model.Age 歲</p>
        <p class="card-text">@Model.City</p>
        <p class="card-text">@Model.Hobby</p>
        <form asp-action="Pair">
            <div class="d-flex justify-content-between">
                <input name="loverAccount" type="hidden" value="@Model.Account" readonly />
                <input class="btn btn-pink" type="submit" name="wantText" value="喜歡" />
                <input class="btn btn-light" type="submit" name="wantText" value="不喜歡" />
            </div>
        </form>
      </div>
    </div>
</div>
